#body {
  background-color: #3E7B27;
}

#avi {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #000;
}

.row {
	padding-bottom: 10px;
}

h3, h5 {
	color: black;
}